html,body { font-size: 62.5%; height:100%; }

body {
  background: #262729;
  font-family: 'Roboto Mono', sans-serif;
  color: #f8f8f2;
  width:50%;
  max-width:80rem;
  min-width:29rem;
  margin:auto;
}

header {
  margin:1rem 0;
  display:flex;
  justify-content:space-between;
}

header h1 {
  flex:1;
}

a {
  color:#cfcfcf;
  text-decoration:none;
  border-bottom: 0.1rem solid;
}

a:hover {
  font-weight:bold;
}

#container {
  font-family: 'Roboto Mono', sans-serif;
  color: #f8f8f2;
  width:50%;
  max-width:100rem;
  min-width:29rem;
  margin:auto;
}

h1 {
  font-size: 4rem;
  display:inline;
  margin:0;
}

main {
  margin:1rem 0;
  font-size: 1.6rem;
  text-align:justify;
  min-height:100%;
}

#pgp {
  padding:1rem;
  font-size: 1.6rem;
  width:100%;
  height:1.6rem;
}

.separator {
  margin:auto;
  width:5rem;
  height:0.1rem;
  background:#aaa;
  margin-top:3rem;
  margin-bottom:3rem;
}

nav {
  font-size: 2rem;
  text-align:justify;
  padding:1rem;
  display:inline-block;
  margin-top:auto;
  margin-bottom:auto;
}

nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

nav li {
  display:inline;
}

nav a {
  margin-top: 1rem 0;
}

.fixed {
  font-family: 'Inconsolata', monospace;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
